# These are for deployment onto Heroku.
pip==9.0.1
setuptools==23.1.0
Cython==0.25.2
numpy==1.11.3
bokeh==0.12.5
pandas==0.19
biopython==1.69
flask==0.12
gunicorn==19.7.1
lxml==3.8.0
beautifulsoup4==4.6.0
